<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Ver reclamação</ion-title>
    <ion-buttons slot="end" *ngIf="complaint.uid == uid">
      <ion-button [routerLink]="['/make-a-post', complaint.id]">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <!--<ion-text color="primary"><b>Título: </b></ion-text>-->
      <ion-text color="primary"><h2>{{complaint.titulo}}</h2></ion-text>
    </ion-item>

    <ion-item>
        <!--<ion-text color="primary"><b>Foto: </b></ion-text>
        <br />-->
        <img src={{complaint.imagem}}>
    </ion-item>
    
    <ion-item>
        <ion-text color="primary"><b>Localização: </b></ion-text>
        <ion-text>{{complaint.localizacao}}</ion-text>
    </ion-item>

    <ion-item>
        <ion-text color="primary"><b>Data: </b></ion-text>
        {{complaint.data}}
    </ion-item>

    <ion-item>
        <ion-text color="primary"><b>Registrada por: </b></ion-text>
        {{complaint.nome}}
    </ion-item>

    <ion-item>
        <ion-text color="primary"><b>Email do denunciante: </b></ion-text>
        <ion-text>{{complaint.email}}</ion-text>
    </ion-item>

    <ion-item>
        <ion-text color="primary"><b>Descrição: </b></ion-text>
        <ion-text>{{complaint.descricao}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
