<ion-header>
  <ion-toolbar color="primary">
    <ion-title>UPaqui - Página inicial</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logoutUser()">
        <ion-icon name="log-out" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content ion-padding> 
  <ion-item lines="none">
    <ion-text class="horizontally-aligned">Bem-vindo {{ email }}</ion-text>
  </ion-item>
  
  <ion-list lines="none">
    <ion-item *ngFor="let complaint of (complaints | async)">
      <ion-card [routerLink]="['/post-details', complaint.id]">
        <ion-card-header>
          <img *ngIf="!complaint.imagem" src="../../../assets/images/default-thumbnail-large.jpg" height="100%" width="75%">
          <img *ngIf="complaint.imagem" src="{{complaint.imagem}}" height="100%" width="75%">
          <ion-card-subtitle>{{complaint.data}}</ion-card-subtitle>
          <ion-card-title>{{complaint.titulo}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{complaint.nome}}
          
          <ion-item *ngIf="!complaint.resolvido" no-padding>
            <ion-text color="danger">Não resolvido</ion-text>
          </ion-item>

          <ion-item *ngIf="complaint.resolvido" no-padding>
            <ion-text color="primary">Resolvido</ion-text>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/make-a-post">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
